:root {
  font-family:'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;
  color: white;
  background-color: #242424;
  text-align: center;
  cursor: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.animation {
  transition: transform 0.2s ease;
}

.transition-component > div {
  transition: opacity 0.5s, transform 0.5s;
}

.transition-opacity {
  transition: opacity 0.5s;
}

@keyframes shutter {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}